USE [master]
GO
/****** Object:  Database [tienda]    Script Date: 12/11/2024 9:19:33 a. m. ******/
CREATE DATABASE [tienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLL\MSSQL\DATA\tienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLL\MSSQL\DATA\tienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tienda]
GO
/****** Object:  User [tienda]    Script Date: 12/11/2024 9:19:35 a. m. ******/
CREATE USER [tienda] FOR LOGIN [tienda] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tienda]
GO
ALTER ROLE [db_datareader] ADD MEMBER [tienda]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [tienda]
GO
/****** Object:  Table [dbo].[compras]    Script Date: 12/11/2024 9:19:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[documento] [varchar](20) NULL,
	[producto] [varchar](50) NULL,
	[telefono] [varchar](20) NULL,
	[fecha] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroUsuario]    Script Date: 12/11/2024 9:19:35 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NULL,
	[documento] [nvarchar](50) NULL,
	[telefono] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
